<div class="news-page">
  <div nz-row [nzGutter]="8">
    <div class="news-item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" *ngFor="let item of newsData">
      <nz-card
        [nzCover]="coverTemplate"
        [nzActions]="[actionSetting,actionEdit,actionEllipsis]"
        hoverable="true"
      >
        <nz-card-meta
          [nzTitle]="item.author_name"
          nzDescription="{{item.title}}"
          [nzAvatar]="avatarTemplate">

        </nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="{{item.thumbnail_pic_s}}"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" src="{{item.thumbnail_pic_s}}"/>
      </ng-template>

      <ng-template #actionSetting>
        <i class="anticon anticon-setting"
           (click)="doSeting(item)"
           nz-popconfirm nzTitle="确定不再接收?"
           (nzOnConfirm)="confirm()"
           (nzOnCancel)="cancel()"></i>
      </ng-template>
      <ng-template #actionEdit>
        <i class="anticon anticon-edit" (click)="doComment(item)"></i>
      </ng-template>
      <ng-template #actionEllipsis>
        <i class="anticon anticon-ellipsis" (click)="doShare(item)"></i>
      </ng-template>
    </div>
  </div>
  <!--  对话框  fixed-->
  <div class="news-fixed">
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="{{modalTitle}}"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading">
      <div nz-row>
        <div nz-col style="text-align: center;display: block;overflow: hidden">
          <img
            src="{{modalContent[0]}}">
        </div>
      </div>
      <p style="margin-top: 12px">评论</p>
      <textarea
        nz-input
        placeholder="留下评论"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }">
        </textarea>

    </nz-modal>
  </div>
</div>
