.news-page {
  .news-fixed {
    [nz-carousel-content] {
      text-align: center;
      height: 160px;
      line-height: 160px;
      background: #364d79;
      color: #fff;
      overflow: hidden;
      img {

      }
      h3 {
        font-size: 24px;
        color: #1890ff;
      }
    }
  }
}
