@charset "UTF-8";
html {
  font-family: “Arial”, ”Microsoft YaHei”, ”黑体”, ”宋体”, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }
  @media only screen and (max-width: 320px) {
    html {
      font-size: 32px; } }
  @media only screen and (min-width: 320px) and (max-width: 360px) {
    html {
      font-size: 34px; } }
  @media only screen and (min-width: 360px) and (max-width: 375px) {
    html {
      font-size: 36px; } }
  @media only screen and (min-width: 375px) and (max-width: 411px) {
    html {
      font-size: 37.5px; } }
  @media only screen and (min-width: 411px) and (max-width: 480px) {
    html {
      font-size: 41.1px; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    html {
      font-size: 48.0px; } }
  @media only screen and (min-width: 768px) and (max-width: 886px) {
    html {
      font-size: 76.8px; } }
  @media only screen and (min-width: 886px) and (max-width: 1024px) {
    html {
      font-size: 88.6px; } }
  @media only screen and (min-width: 1024px) {
    html {
      font-size: 102.4px; } }

body {
  margin: 0;
  padding: 0; }

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Links
   ========================================================================== */
a {
  text-decoration: none;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible;
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

button,
select {
  text-transform: none; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

span {
  display: inline-block; }

ol {
  list-style-type: none;
  counter-reset: sectioncounter;
  margin: 0; }
  ol li {
    list-style: decimal; }

.clear-fix::after {
  content: '';
  display: block;
  clear: both; }

/* 行布局 */
.bg-row {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .bg-row {
    display: block; } }
/*  24列布局 */
.bg-col,
.bg-col-1,
.bg-col-2,
.bg-col-3,
.bg-col-4,
.bg-col-5,
.bg-col-6,
.bg-col-7,
.bg-col-8,
.bg-col-9,
.bg-col-10,
.bg-col-11,
.bg-col-12,
.bg-col-13,
.bg-col-14,
.bg-col-15,
.bg-col-16,
.bg-col-17,
.bg-col-18,
.bg-col-19,
.bg-col-20,
.bg-col-21,
.bg-col-22,
.bg-col-23,
.bg-col-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }
  .bg-col img,
  .bg-col-1 img,
  .bg-col-2 img,
  .bg-col-3 img,
  .bg-col-4 img,
  .bg-col-5 img,
  .bg-col-6 img,
  .bg-col-7 img,
  .bg-col-8 img,
  .bg-col-9 img,
  .bg-col-10 img,
  .bg-col-11 img,
  .bg-col-12 img,
  .bg-col-13 img,
  .bg-col-14 img,
  .bg-col-15 img,
  .bg-col-16 img,
  .bg-col-17 img,
  .bg-col-18 img,
  .bg-col-19 img,
  .bg-col-20 img,
  .bg-col-21 img,
  .bg-col-22 img,
  .bg-col-23 img,
  .bg-col-24 img {
    max-width: 100%;
    height: auto;
    display: block; }

.bg-col, .bg-col-24 {
  width: 100%; }

.bg-col-1 {
  width: 4.1667%; }

.bg-col-2 {
  width: 8.3333%; }

.bg-col-3 {
  width: 12.5000%; }

.bg-col-4 {
  width: 16.6667%; }

.bg-col-5 {
  width: 20.8333%; }

.bg-col-6 {
  width: 25.0000%; }

.bg-col-7 {
  width: 29.1667%; }

.bg-col-8 {
  width: 33.3333%; }

.bg-col-9 {
  width: 37.5000%; }

.bg-col-10 {
  width: 41.6667%; }

.bg-col-11 {
  width: 45.83333%; }

.bg-col-12 {
  width: 50.0000%; }

.bg-col-13 {
  width: 54.1667%; }

.bg-col-14 {
  width: 58.3333%; }

.bg-col-15 {
  width: 62.5000%; }

.bg-col-16 {
  width: 66.6667%; }

.bg-col-17 {
  width: 70.8333%; }

.bg-col-18 {
  width: 75.0000%; }

.bg-col-19 {
  width: 79.1667%; }

.bg-col-20 {
  width: 83.3333%; }

.bg-col-21 {
  width: 87.5000%; }

.bg-col-22 {
  width: 91.6667%; }

.bg-col-23 {
  width: 95.8333%; }

/*# sourceMappingURL=core.css.map */
