// 样式变量
$fonts: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;

// 根据分辨率选择背景图
@mixin bg-image($url) {
  background-image: url($url + "@2x.png");
  @media screen and
    (min-resolution: 3dppx),
    (-webkit-min-device-pixel-ratio: 3),
    (min--moz-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}

// 打印分辨率
@mixin print($dpi: number) {
  @media print and (min-resolution: $dpi) {
    @content;
  }
}
// 设备分辨率（resolution）像素宽高比
@mixin ratio($ratio: number) {
  @media screen and
    (min-resolution: $ratio + 'dppx'),
    (-webkit-min-device-pixel-ratio: $ratio), /* Webkit-based browsers */
    (min--moz-device-pixel-ratio: $ratio) {
      @content;
    }
}
// width 查询
@mixin screen($min,$max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
@mixin max-screen($max) {
  @media screen and (max-width: $max){
    @content;
  }
}
@mixin min-screen($min) {
  @media screen and (min-width: $min){
    @content;
  }
}
// height查询
@mixin screen-height($min,$max) {
  @media only screen and (min-height: $min) and (max-height: $max) {
    @content;
  }
}
@mixin max-s-height($max) {
  @media screen and (max-height: $max){
    @content;
  }
}
@mixin min-s-height($min) {
  @media screen and (min-height: $min){
    @content;
  }
}
// 屏幕 宽高比率 4：3， 16：9，16：10
@mixin device-ratio($width,$height) {
  @media screen and (device-aspect-ratio:$width/$height){
    @content;
  }
}
// 固定设计稿的border, 要求按比例放大border
@mixin border($width,$type,$color){
  border: $width $type $color;
  @include ratio(1.5) {
    border: $width*1.5 $type $color;
  }
  @include ratio(2) {
    border: $width*2 $type $color;
  }
  @include ratio(2.5) {
    border: $width*2.5 $type $color;
  }
  @include ratio(3) {
    border: $width*3 $type $color;
  }
  @include ratio(3.5) {
    border: $width*3.5 $type $color;
  }
  @include ratio(4) {
    border: $width*4 $type $color;
  }
}
// 固定像素的border,
@mixin border-1px($width,$type,$color){
  border: $width $type $color;
  @include ratio(1.5) {
    border: $width/1.5 $type $color;
  }
  @include ratio(2) {
    border: $width/2 $type $color;
  }
  @include ratio(2.5) {
    border: $width/2.5 $type $color;
  }
  @include ratio(3) {
    border: $width/3 $type $color;
  }
  @include ratio(3.5) {
    border: $width/3.5 $type $color;
  }
  @include ratio(4) {
    border: $width/4 $type $color;
  }
}

// border-bottom - 固定像素 1px border-bottom
@mixin border-bottom($height,$type,$color) {
  position:relative;
  &::after{
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: $height $type $color;
    content: '';
    @include ratio(1.5){
        transform:scaleY(0.7);
    }
    @include ratio(2){
      transform:scaleY(0.5);
    }
    @include ratio(2.5){
      transform:scaleY(0.4);
    }
    @include ratio(3){
      transform:scaleY(0.333);
    }
    @include ratio(3.5){
      transform:scaleY(0.2857);
    }
  }
}
@mixin border-top($height,$type,$color) {
  position:relative;
  &::after{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    border-top: $height $type $color;
    content: '';
    @include ratio(1.5){
      transform:scaleY(0.7);
    }
    @include ratio(2){
      transform:scaleY(0.5);
    }
    @include ratio(2.5){
      transform:scaleY(0.4);
    }
    @include ratio(3){
      transform:scaleY(0.333);
    }
    @include ratio(3.5){
      transform:scaleY(0.2857);
    }
  }
}