.table-page {
  .components-table-demo-control-bar {
    margin-bottom: 10px;
  }

  .components-table-demo-control-bar ::ng-deep .ant-form-item {
    margin-right: 15px;
    margin-bottom: 8px;
  }
}
