<div class="row">
  <div class="col">
    <h2>Rxjs响应式编程</h2>
    <ul>
      <li>
        <button type="button" class="btn btn-primary" (click)="onClick($event)">事件监听</button>
      </li>
      <li>
        发布：<input type="text" id="input-hooks" (input)="onInput($event)">
        订阅：<input type="text" [placeholder]="subscription" [value]="subscription">
      </li>
      <li>
        <button type="button" class="btn btn-primary" (click)="onBuild()">创建响应流</button>
      </li>
      <li>
        <button type="button" class="btn btn-primary">转换操作符</button>
      </li>
      <li>
        <button type="button" class="btn btn-primary">导入excel</button>
        <div class="input-group-text">
          <input type="file" class="form-control-file" placeholder="选择文件" (change)="doUpload($event)">
        </div>
      </li>
      <li>
        <button type="button" class="btn btn-primary" (click)="saveExcel('table-bordered', '成绩表')">导出表格</button>
        <a id="download" style="visibility: hidden">下载</a>
        <div class="table-hooks">
          <table class="table-bordered" id="table-bordered">
            <thead class="table-dark">
            <tr class="table">
              <th>序号</th>
              <th>标题</th>
              <th>序号</th>
              <th>标题</th>
              <th>序号</th>
              <th>标题</th>
              <th>序号</th>
              <th>标题</th>
            </tr>
            </thead>
            <tbody class="table">
            <tr *ngFor="let e of dataSet;let i = index;">
              <td>{{i}}</td>
              <td>{{e.title}}</td>
              <td>{{i}}</td>
              <td>{{e.title}}</td>
              <td>{{i}}</td>
              <td>{{e.title}}</td>
              <td>{{i}}</td>
              <td>{{e.title}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </li>
    </ul>

  </div>
</div>
