.login-page {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  .login-form {
    max-width: 300px;
    margin: 0 auto;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
