<div class="ajax-table">

  <nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataSet"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">

    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <!-- nzSortKey 排序查找 key -->
      <th nzShowSort nzSortKey="name">姓名</th>
      <!-- nzFilters 过滤器   updateFilter() 过滤方法  -->
      <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">性别</th>
      <th nzShowSort nzSortKey="email"><span>邮箱</span></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.name.first}} {{data.name.last}}</td>
      <td>{{data.gender}}</td>
      <td>{{data.email}}</td>
    </tr>
    </tbody>

  </nz-table>

</div>
