:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

// 布局
.ng-body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.logo-h2 {
  color: #ffffff;
  text-align: center;
}

.gutter-row {
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px #cccccc;
  position: absolute;
  right: 8px;
  top: 64px;
  z-index: 100;
}

.gutter-box {
  border: 0.1rem solid #f0f2f5;
  &:hover {
    color: #ffffff;
    background-color: #ff3d44;
  }
}
