<!-- 通过style控制样式 -->
<div nz-row>
  <i class="anticon anticon-dribbble-square" style="color: #ff3d44;font-size: 24px"></i>
  <i class="anticon anticon-twitter" style="color: #3b79ff;font-size: 24px"></i>
  <i class="anticon anticon-wechat" style="color: #ff3d44;font-size: 24px"></i>
  <i class="anticon anticon-youtube" style="color: #3b79ff;font-size: 24px"></i>
  <i class="anticon anticon-alipay-circle" style="color: #ff3d44;font-size: 24px"></i>
  <i class="anticon anticon-taobao" style="color: #ffdd13;font-size: 24px"></i>
</div>

<div nz-row>
  <i class="anticon anticon-dribbble-square" style="color: #ff3d44;font-size: 48px"></i>
  <i class="anticon anticon-twitter" style="color: #3b79ff;font-size: 48px"></i>
  <i class="anticon anticon-wechat" style="color: #ff3d44;font-size: 48px"></i>
  <i class="anticon anticon-youtube" style="color: #3b79ff;font-size: 48px"></i>
  <i class="anticon anticon-alipay-circle" style="color: #ff3d44;font-size: 48px"></i>
  <i class="anticon anticon-taobao" style="color: #ffdd13;font-size: 48px"></i>

</div>

