<!-- 通过style控制样式 -->
<div nz-row>
  <i class="anticon anticon-dribbble-square" style="color: #ff3d44;font-size: 24px"></i>
  <i class="anticon anticon-twitter" style="color: #3b79ff;font-size: 24px"></i>
  <i class="anticon anticon-wechat" style="color: #ff3d44;font-size: 24px"></i>
  <i class="anticon anticon-youtube" style="color: #3b79ff;font-size: 24px"></i>
  <i class="anticon anticon-alipay-circle" style="color: #ff3d44;font-size: 24px"></i>
  <i class="anticon anticon-taobao" style="color: #ffdd13;font-size: 24px"></i>
</div>

<div nz-row>
  <i class="anticon anticon-dribbble-square" style="color: #ff3d44;font-size: 48px"></i>
  <i class="anticon anticon-twitter" style="color: #3b79ff;font-size: 48px"></i>
  <i class="anticon anticon-wechat" style="color: #ff3d44;font-size: 48px"></i>
  <i class="anticon anticon-youtube" style="color: #3b79ff;font-size: 48px"></i>
  <i class="anticon anticon-alipay-circle" style="color: #ff3d44;font-size: 48px"></i>
  <i class="anticon anticon-taobao" style="color: #ffdd13;font-size: 48px"></i>

</div>

<ul class="icons-list">
  <li><i class="anticon anticon-step-backward"></i><span>step-backward</span></li>
  <li><i class="anticon anticon-step-forward"></i><span>step-forward</span></li>
  <li><i class="anticon anticon-fast-backward"></i><span>fast-backward</span></li>
  <li><i class="anticon anticon-fast-forward"></i><span>fast-forward</span></li>
  <li><i class="anticon anticon-shrink"></i><span>shrink</span></li>
  <li><i class="anticon anticon-arrows-alt"></i><span>arrows-alt</span></li>
  <li><i class="anticon anticon-down"></i><span>down</span></li>
  <li><i class="anticon anticon-up"></i><span>up</span></li>
  <li><i class="anticon anticon-left"></i><span>left</span></li>
  <li><i class="anticon anticon-right"></i><span>right</span></li>
  <li><i class="anticon anticon-caret-up"></i><span>caret-up</span></li>
  <li><i class="anticon anticon-caret-down"></i><span>caret-down</span></li>
  <li><i class="anticon anticon-caret-left"></i><span>caret-left</span></li>
  <li><i class="anticon anticon-caret-right"></i><span>caret-right</span></li>
  <li><i class="anticon anticon-up-circle"></i><span>up-circle</span></li>
  <li><i class="anticon anticon-down-circle"></i><span>down-circle</span></li>
  <li><i class="anticon anticon-left-circle"></i><span>left-circle</span></li>
  <li><i class="anticon anticon-right-circle"></i><span>right-circle</span></li>
  <li><i class="anticon anticon-up-circle-o"></i><span>up-circle-o</span></li>
  <li><i class="anticon anticon-down-circle-o"></i><span>down-circle-o</span></li>
  <li><i class="anticon anticon-right-circle-o"></i><span>right-circle-o</span></li>
  <li><i class="anticon anticon-left-circle-o"></i><span>left-circle-o</span></li>
  <li><i class="anticon anticon-double-right"></i><span>double-right</span></li>
  <li><i class="anticon anticon-double-left"></i><span>double-left</span></li>
  <li><i class="anticon anticon-verticle-left"></i><span>verticle-left</span></li>
  <li><i class="anticon anticon-verticle-right"></i><span>verticle-right</span></li>
  <li><i class="anticon anticon-forward"></i><span>forward</span></li>
  <li><i class="anticon anticon-backward"></i><span>backward</span></li>
  <li><i class="anticon anticon-rollback"></i><span>rollback</span></li>
  <li><i class="anticon anticon-enter"></i><span>enter</span></li>
  <li><i class="anticon anticon-retweet"></i><span>retweet</span></li>
  <li><i class="anticon anticon-swap"></i><span>swap</span></li>
  <li><i class="anticon anticon-swap-left"></i><span>swap-left</span></li>
  <li><i class="anticon anticon-swap-right"></i><span>swap-right</span></li>
  <li><i class="anticon anticon-arrow-up"></i><span>arrow-up</span></li>
  <li><i class="anticon anticon-arrow-down"></i><span>arrow-down</span></li>
  <li><i class="anticon anticon-arrow-left"></i><span>arrow-left</span></li>
  <li><i class="anticon anticon-arrow-right"></i><span>arrow-right</span></li>
  <li><i class="anticon anticon-play-circle"></i><span>play-circle</span></li>
  <li><i class="anticon anticon-play-circle-o"></i><span>play-circle-o</span></li>
  <li><i class="anticon anticon-up-square"></i><span>up-square</span></li>
  <li><i class="anticon anticon-down-square"></i><span>down-square</span></li>
  <li><i class="anticon anticon-left-square"></i><span>left-square</span></li>
  <li><i class="anticon anticon-right-square"></i><span>right-square</span></li>
  <li><i class="anticon anticon-up-square-o"></i><span>up-square-o</span></li>
  <li><i class="anticon anticon-down-square-o"></i><span>down-square-o</span></li>
  <li><i class="anticon anticon-left-square-o"></i><span>left-square-o</span></li>
  <li><i class="anticon anticon-right-square-o"></i><span>right-square-o</span></li>
  <li><i class="anticon anticon-login"></i><span>login</span></li>
  <li><i class="anticon anticon-logout"></i><span>logout</span></li>
  <li><i class="anticon anticon-menu-fold"></i><span>menu-fold</span></li>
  <li><i class="anticon anticon-menu-unfold"></i><span>menu-unfold</span></li>
  <li><i class="anticon anticon-question"></i><span>question</span></li>
  <li><i class="anticon anticon-question-circle-o"></i><span>question-circle-o</span></li>
  <li><i class="anticon anticon-question-circle"></i><span>question-circle</span></li>
  <li><i class="anticon anticon-plus"></i><span>plus</span></li>
  <li><i class="anticon anticon-plus-circle-o"></i><span>plus-circle-o</span></li>
  <li><i class="anticon anticon-plus-circle"></i><span>plus-circle</span></li>
  <li><i class="anticon anticon-pause"></i><span>pause</span></li>
  <li><i class="anticon anticon-pause-circle-o"></i><span>pause-circle-o</span></li>
  <li><i class="anticon anticon-pause-circle"></i><span>pause-circle</span></li>
  <li><i class="anticon anticon-minus"></i><span>minus</span></li>
  <li><i class="anticon anticon-minus-circle-o"></i><span>minus-circle-o</span></li>
  <li><i class="anticon anticon-minus-circle"></i><span>minus-circle</span></li>
  <li><i class="anticon anticon-plus-square"></i><span>plus-square</span></li>
  <li><i class="anticon anticon-plus-square-o"></i><span>plus-square-o</span></li>
  <li><i class="anticon anticon-minus-square"></i><span>minus-square</span></li>
  <li><i class="anticon anticon-minus-square-o"></i><span>minus-square-o</span></li>
  <li><i class="anticon anticon-info"></i><span>info</span></li>
  <li><i class="anticon anticon-info-circle-o"></i><span>info-circle-o</span></li>
  <li><i class="anticon anticon-info-circle"></i><span>info-circle</span></li>
  <li><i class="anticon anticon-exclamation"></i><span>exclamation</span></li>
  <li><i class="anticon anticon-exclamation-circle-o"></i><span>exclamation-circle-o</span>
  </li>
  <li><i class="anticon anticon-exclamation-circle"></i><span>exclamation-circle</span></li>
  <li><i class="anticon anticon-close"></i><span>close</span></li>
  <li><i class="anticon anticon-close-circle"></i><span>close-circle</span></li>
  <li><i class="anticon anticon-close-circle-o"></i><span>close-circle-o</span></li>
  <li><i class="anticon anticon-close-square"></i><span>close-square</span></li>
  <li><i class="anticon anticon-close-square-o"></i><span>close-square-o</span></li>
  <li><i class="anticon anticon-check"></i><span>check</span></li>
  <li><i class="anticon anticon-check-circle"></i><span>check-circle</span></li>
  <li><i class="anticon anticon-check-circle-o"></i><span>check-circle-o</span></li>
  <li><i class="anticon anticon-check-square"></i><span>check-square</span></li>
  <li><i class="anticon anticon-check-square-o"></i><span>check-square-o</span></li>
  <li><i class="anticon anticon-clock-circle-o"></i><span>clock-circle-o</span></li>
  <li><i class="anticon anticon-clock-circle"></i><span>clock-circle</span></li>
  <li><i class="anticon anticon-android"></i><span>android</span></li>
  <li><i class="anticon anticon-android-o"></i><span>android-o</span></li>
  <li><i class="anticon anticon-apple"></i><span>apple</span></li>
  <li><i class="anticon anticon-apple-o"></i><span>apple-o</span></li>
  <li><i class="anticon anticon-windows"></i><span>windows</span></li>
  <li><i class="anticon anticon-windows-o"></i><span>windows-o</span></li>
  <li><i class="anticon anticon-ie"></i><span>ie</span></li>
  <li><i class="anticon anticon-chrome"></i><span>chrome</span></li>
  <li><i class="anticon anticon-github"></i><span>github</span></li>
  <li><i class="anticon anticon-aliwangwang"></i><span>aliwangwang</span></li>
  <li><i class="anticon anticon-aliwangwang-o"></i><span>aliwangwang-o</span></li>
  <li><i class="anticon anticon-dingding"></i><span>dingding</span></li>
  <li><i class="anticon anticon-dingding-o"></i><span>dingding-o</span></li>
  <li><i class="anticon anticon-lock"></i><span>lock</span></li>
  <li><i class="anticon anticon-unlock"></i><span>unlock</span></li>
  <li><i class="anticon anticon-area-chart"></i><span>area-chart</span></li>
  <li><i class="anticon anticon-pie-chart"></i><span>pie-chart</span></li>
  <li><i class="anticon anticon-bar-chart"></i><span>bar-chart</span></li>
  <li><i class="anticon anticon-dot-chart"></i><span>dot-chart</span></li>
  <li><i class="anticon anticon-bars"></i><span>bars</span></li>
  <li><i class="anticon anticon-book"></i><span>book</span></li>
  <li><i class="anticon anticon-calendar"></i><span>calendar</span></li>
  <li><i class="anticon anticon-cloud"></i><span>cloud</span></li>
  <li><i class="anticon anticon-cloud-download"></i><span>cloud-download</span></li>
  <li><i class="anticon anticon-code"></i><span>code</span></li>
  <li><i class="anticon anticon-code-o"></i><span>code-o</span></li>
  <li><i class="anticon anticon-copy"></i><span>copy</span></li>
  <li><i class="anticon anticon-credit-card"></i><span>credit-card</span></li>
  <li><i class="anticon anticon-delete"></i><span>delete</span></li>
  <li><i class="anticon anticon-desktop"></i><span>desktop</span></li>
  <li><i class="anticon anticon-download"></i><span>download</span></li>
  <li><i class="anticon anticon-edit"></i><span>edit</span></li>
  <li><i class="anticon anticon-ellipsis"></i><span>ellipsis</span></li>
  <li><i class="anticon anticon-file"></i><span>file</span></li>
  <li><i class="anticon anticon-file-text"></i><span>file-text</span></li>
  <li><i class="anticon anticon-file-unknown"></i><span>file-unknown</span></li>
  <li><i class="anticon anticon-file-pdf"></i><span>file-pdf</span></li>
  <li><i class="anticon anticon-file-excel"></i><span>file-excel</span></li>
  <li><i class="anticon anticon-file-jpg"></i><span>file-jpg</span></li>
  <li><i class="anticon anticon-file-ppt"></i><span>file-ppt</span></li>
  <li><i class="anticon anticon-file-add"></i><span>file-add</span></li>
  <li><i class="anticon anticon-folder"></i><span>folder</span></li>
  <li><i class="anticon anticon-folder-open"></i><span>folder-open</span></li>
  <li><i class="anticon anticon-folder-add"></i><span>folder-add</span></li>
  <li><i class="anticon anticon-hdd"></i><span>hdd</span></li>
  <li><i class="anticon anticon-frown"></i><span>frown</span></li>
  <li><i class="anticon anticon-frown-o"></i><span>frown-o</span></li>
  <li><i class="anticon anticon-meh"></i><span>meh</span></li>
  <li><i class="anticon anticon-meh-o"></i><span>meh-o</span></li>
  <li><i class="anticon anticon-smile"></i><span>smile</span></li>
  <li><i class="anticon anticon-smile-o"></i><span>smile-o</span></li>
  <li><i class="anticon anticon-inbox"></i><span>inbox</span></li>
  <li><i class="anticon anticon-laptop"></i><span>laptop</span></li>
  <li><i class="anticon anticon-appstore-o"></i><span>appstore-o</span></li>
  <li><i class="anticon anticon-appstore"></i><span>appstore</span></li>
  <li><i class="anticon anticon-line-chart"></i><span>line-chart</span></li>
  <li><i class="anticon anticon-link"></i><span>link</span></li>
  <li><i class="anticon anticon-mail"></i><span>mail</span></li>
  <li><i class="anticon anticon-mobile"></i><span>mobile</span></li>
  <li><i class="anticon anticon-notification"></i><span>notification</span></li>
  <li><i class="anticon anticon-paper-clip"></i><span>paper-clip</span></li>
  <li><i class="anticon anticon-picture"></i><span>picture</span></li>
  <li><i class="anticon anticon-poweroff"></i><span>poweroff</span></li>
  <li><i class="anticon anticon-reload"></i><span>reload</span></li>
  <li><i class="anticon anticon-search"></i><span>search</span></li>
  <li><i class="anticon anticon-setting"></i><span>setting</span></li>
  <li><i class="anticon anticon-share-alt"></i><span>share-alt</span></li>
  <li><i class="anticon anticon-shopping-cart"></i><span>shopping-cart</span></li>
  <li><i class="anticon anticon-tablet"></i><span>tablet</span></li>
  <li><i class="anticon anticon-tag"></i><span>tag</span></li>
  <li><i class="anticon anticon-tag-o"></i><span>tag-o</span></li>
  <li><i class="anticon anticon-tags"></i><span>tags</span></li>
  <li><i class="anticon anticon-tags-o"></i><span>tags-o</span></li>
  <li><i class="anticon anticon-to-top"></i><span>to-top</span></li>
  <li><i class="anticon anticon-upload"></i><span>upload</span></li>
  <li><i class="anticon anticon-user"></i><span>user</span></li>
  <li><i class="anticon anticon-video-camera"></i><span>video-camera</span></li>
  <li><i class="anticon anticon-home"></i><span>home</span></li>
  <li><i class="anticon anticon-spin anticon-loading"></i><span>loading</span></li>
  <li><i class="anticon anticon-loading-3-quarters"></i><span>loading-3-quarters</span></li>
  <li><i class="anticon anticon-cloud-upload-o"></i><span>cloud-upload-o</span></li>
  <li><i class="anticon anticon-cloud-download-o"></i><span>cloud-download-o</span></li>
  <li><i class="anticon anticon-cloud-upload"></i><span>cloud-upload</span></li>
  <li><i class="anticon anticon-cloud-o"></i><span>cloud-o</span></li>
  <li><i class="anticon anticon-star-o"></i><span>star-o</span></li>
  <li><i class="anticon anticon-star"></i><span>star</span></li>
  <li><i class="anticon anticon-heart-o"></i><span>heart-o</span></li>
  <li><i class="anticon anticon-heart"></i><span>heart</span></li>
  <li><i class="anticon anticon-environment"></i><span>environment</span></li>
  <li><i class="anticon anticon-environment-o"></i><span>environment-o</span></li>
  <li><i class="anticon anticon-eye"></i><span>eye</span></li>
  <li><i class="anticon anticon-eye-o"></i><span>eye-o</span></li>
  <li><i class="anticon anticon-camera"></i><span>camera</span></li>
  <li><i class="anticon anticon-camera-o"></i><span>camera-o</span></li>
  <li><i class="anticon anticon-save"></i><span>save</span></li>
  <li><i class="anticon anticon-team"></i><span>team</span></li>
  <li><i class="anticon anticon-solution"></i><span>solution</span></li>
  <li><i class="anticon anticon-phone"></i><span>phone</span></li>
  <li><i class="anticon anticon-filter"></i><span>filter</span></li>
  <li><i class="anticon anticon-exception"></i><span>exception</span></li>
  <li><i class="anticon anticon-export"></i><span>export</span></li>
  <li><i class="anticon anticon-customer-service"></i><span>customer-service</span></li>
  <li><i class="anticon anticon-qrcode"></i><span>qrcode</span></li>
  <li><i class="anticon anticon-scan"></i><span>scan</span></li>
  <li><i class="anticon anticon-like"></i><span>like</span></li>
  <li><i class="anticon anticon-like-o"></i><span>like-o</span></li>
  <li><i class="anticon anticon-dislike"></i><span>dislike</span></li>
  <li><i class="anticon anticon-dislike-o"></i><span>dislike-o</span></li>
  <li><i class="anticon anticon-message"></i><span>message</span></li>
  <li><i class="anticon anticon-pay-circle"></i><span>pay-circle</span></li>
  <li><i class="anticon anticon-pay-circle-o"></i><span>pay-circle-o</span></li>
  <li><i class="anticon anticon-calculator"></i><span>calculator</span></li>
  <li><i class="anticon anticon-pushpin"></i><span>pushpin</span></li>
  <li><i class="anticon anticon-pushpin-o"></i><span>pushpin-o</span></li>
  <li><i class="anticon anticon-bulb"></i><span>bulb</span></li>
  <li><i class="anticon anticon-select"></i><span>select</span></li>
  <li><i class="anticon anticon-switcher"></i><span>switcher</span></li>
  <li><i class="anticon anticon-rocket"></i><span>rocket</span></li>
  <li><i class="anticon anticon-bell"></i><span>bell</span></li>
  <li><i class="anticon anticon-disconnect"></i><span>disconnect</span></li>
  <li><i class="anticon anticon-database"></i><span>database</span></li>
  <li><i class="anticon anticon-compass"></i><span>compass</span></li>
  <li><i class="anticon anticon-barcode"></i><span>barcode</span></li>
  <li><i class="anticon anticon-hourglass"></i><span>hourglass</span></li>
  <li><i class="anticon anticon-key"></i><span>key</span></li>
  <li><i class="anticon anticon-flag"></i><span>flag</span></li>
  <li><i class="anticon anticon-layout"></i><span>layout</span></li>
  <li><i class="anticon anticon-printer"></i><span>printer</span></li>
  <li><i class="anticon anticon-sound"></i><span>sound</span></li>
  <li><i class="anticon anticon-usb"></i><span>usb</span></li>
  <li><i class="anticon anticon-skin"></i><span>skin</span></li>
  <li><i class="anticon anticon-tool"></i><span>tool</span></li>
  <li><i class="anticon anticon-sync"></i><span>sync</span></li>
  <li><i class="anticon anticon-wifi"></i><span>wifi</span></li>
  <li><i class="anticon anticon-car"></i><span>car</span></li>
  <li><i class="anticon anticon-schedule"></i><span>schedule</span></li>
  <li><i class="anticon anticon-user-add"></i><span>user-add</span></li>
  <li><i class="anticon anticon-user-delete"></i><span>user-delete</span></li>
  <li><i class="anticon anticon-usergroup-add"></i><span>usergroup-add</span></li>
  <li><i class="anticon anticon-usergroup-delete"></i><span>usergroup-delete</span></li>
  <li><i class="anticon anticon-man"></i><span>man</span></li>
  <li><i class="anticon anticon-woman"></i><span>woman</span></li>
  <li><i class="anticon anticon-shop"></i><span>shop</span></li>
  <li><i class="anticon anticon-gift"></i><span>gift</span></li>
  <li><i class="anticon anticon-idcard"></i><span>idcard</span></li>
  <li><i class="anticon anticon-medicine-box"></i><span>medicine-box</span></li>
  <li><i class="anticon anticon-red-envelope"></i><span>red-envelope</span></li>
  <li><i class="anticon anticon-coffee"></i><span>coffee</span></li>
  <li><i class="anticon anticon-copyright"></i><span>copyright</span></li>
  <li><i class="anticon anticon-trademark"></i><span>trademark</span></li>
  <li><i class="anticon anticon-safety"></i><span>safety</span></li>
  <li><i class="anticon anticon-wallet"></i><span>wallet</span></li>
  <li><i class="anticon anticon-bank"></i><span>bank</span></li>
  <li><i class="anticon anticon-trophy"></i><span>trophy</span></li>
  <li><i class="anticon anticon-contacts"></i><span>contacts</span></li>
  <li><i class="anticon anticon-global"></i><span>global</span></li>
  <li><i class="anticon anticon-shake"></i><span>shake</span></li>
  <li><i class="anticon anticon-api"></i><span>api</span></li>
</ul>

