<div class="container">
  <div class="inner">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action">http</a>
      <a class="list-group-item list-group-item-action">http-client</a>
      <a class="list-group-item list-group-item-action">oauth</a>
      <a class="list-group-item list-group-item-action">login-guard</a>
      <a class="list-group-item list-group-item-action">user-guard</a>
      <a class="list-group-item list-group-item-action">g-lib</a>
      <a class="list-group-item list-group-item-action">使用css资源</a>
    </div>
    <div class="scroll-example">
      <router-outlet></router-outlet>
      <hr>
      <h4>http</h4>
      <p>http服务，发送http请求</p>

      <h4>http-client</h4>
      <p>强大的http客户端</p>

      <h4>oauth</h4>
      <p>用户签名验证服务</p>

      <h4>login-guard</h4>
      <p>登录守卫</p>

      <h4>user-guard</h4>
      <p>用户角色守卫</p>

      <h4>g-lib</h4>
      <p>通用的函数库</p>

      <h4>使用css资源</h4>
      <div class="bg-inline">
        <img src="../../../assets/images/bg03.jpg" alt="背景图" width="350px" height="224px">
        <span class="avatar"></span>
      </div>
    </div>
  </div>
</div>
