<div class="page-dashboard">
  <div class="page-title">
    <p>欢迎使用dashboard</p>
  </div>
  <div nz-row
       align="middle"
       justify="center"
       type="flex">

    <div class="page-col"
         nzXs="24"
         nzSm="24"
         nzMd="12"
         nzLg="8"
         nzXl="6"
         nzXXl="6"
         nz-col>
      <button nz-button [nzSize]="size" nzType="primary">占位</button>
    </div>

    <div class="page-col"
         nzXs="24"
         nzSm="24"
         nzMd="12"
         nzLg="8"
         nzXl="6"
         nzXXl="6"
         nz-col>
      <button nz-button [nzSize]="size" nzType="primary">占位</button>
    </div>

    <div class="page-col"
         nzXs="24"
         nzSm="24"
         nzMd="12"
         nzLg="8"
         nzXl="6"
         nzXXl="6"
         nz-col>
      <button nz-button [nzSize]="size" nzType="primary">占位</button>
    </div>

    <div class="page-col"
         nzXs="24"
         nzSm="24"
         nzMd="12"
         nzLg="8"
         nzXl="6"
         nzXXl="6"
         nz-col>
      <button nz-button [nzSize]="size" nzType="primary">占位</button>
    </div>

    <div class="page-col"
         nzXs="24"
         nzSm="24"
         nzMd="12"
         nzLg="8"
         nzXl="6"
         nzXXl="6"
         nz-col>
      <button nz-button [nzSize]="size" nzType="primary">占位</button>
    </div>


  </div>
</div>
